* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    background-color: #F2F2F2;
    color: #383838;
    line-height: 1.5;
}

.subsection {
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
}

.subsection p {
    padding: 0px;
    margin-top: 0px;
}

nav, footer {
    width: 100%;
    background: #0B0B0B;
    display: flex;
    flex-direction: row;
}

header {
    background-color: #F2F2F2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; 
}

h1 {
    color: #572C57;
    font-size: 2.0em;
    font-variant: small-caps;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a {
    color: #F2F2F2;
}

a:link {
    text-decoration: none;
}
  
li:hover {
    font-size: 1.2em;
}

a:active {
    font-weight: bold;
}

li {
    padding: 20px;
}

.banner {
    background-image: url(images/louis-reed-business.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 150px;
}

blockquote {
    margin: 0;
    color: black;
    text-align: center;
    font-family: 'Pacifico', cursive; 
    padding: 20% 0;
}

h2 {
    color: #572C57;
    font-size: 1.2;
    font-variant: small-caps;
    font-weight: bolder;
    padding-left: 40px;
}

.about-section {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #CECECE;
    border-width: 1px;	
	border-radius: 3px;
	box-shadow: 3px 3px #CECECE;
  /*  text-align: center; */
    padding: 10px;
    background-color: white;
}

.about-information {
    display: flex;
    flex-direction:row;
}

.portfolio-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.portfolio-information {
    display: flex;
    flex-direction:row;
}

h3 {
    text-align: center;
    color: #572C57;
    font-variant: small-caps;
    padding-left: 40px;
}

address {
    padding: 20px 0 10px 0;
    font-size: .90em;
}

footer {
    z-index: 10; 
    justify-content: center;
    position: relative;
    top: 150px;
    color: #F2F2F2;
}


.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
    border-style: solid;
    border-color: #CECECE;
    border-width: 1px;	
	border-radius: 3px;
	box-shadow: 3px 3px #CECECE;
    text-align: center;
	margin: 20px 30px 10px 30px;
    padding: 10px;
    background-color: #FFFFFF;
}

.app-tile {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 10px;
}

.app-tile a {
    color: black;
}

.ImpactAustin {
    color: #7A9555;
    font-weight: bold;
}

section {
    min-height: 200px;
    padding: 10px; 
    background-color: #F2F2F2;
    position: relative;
    top: 150px;
}

.app-technology {
    font-style: italic;
    font-size: .9em;
}

@media only screen and (max-width: 600px) {
    .app {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    
    .self-portrait {
        display: none;
    }

    .about-section {
        text-align: center;
    }

    .portfolio-information {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1100px) {

    .portfolio-information {
        display: flex;
        flex-direction: column;
    }
} 